<div class="container h-100 w-100">
    <div class="row h-100 align-items-center">
        <div class="col-3 text-center">
            <img src="../../../assets/torre.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-4 text-left">
            <h3 class="pt-3">Search for people and job opportunities</h3>
        </div>
        <div class="col-5">
            <div class="row h-25 justify-content-center align-items-center">
                <div class="col-12">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#home" class="nav-link active" data-toggle="tab">People</a>
                        </li>
                        <li class="nav-item tab-title">
                            <a href="#profile" class="nav-link" data-toggle="tab">Jobs</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="home">
                            <form action="" class="search-bar">
                                <input type="search" name="search" pattern=".*\S.*" required>
                                <button class="search-btn" type="submit">
                                    <span>Search</span>
                                </button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile">
                            <form action="" class="search-bar">
                                <input type="search" name="search" pattern=".*\S.*" required>
                                <button class="search-btn" type="submit">
                                    <span>Search</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>