<div class="container h-100">
    <div class="row h-50 align-items-center">
        <div class="col-12 text-center">
            <img src="../../../assets/torre.jpg" class="img-fluid" alt="Responsive image">
            <h3 class="pt-3">Search for people and job opportunities</h3>
        </div>
    </div>
    <div class="row h-25 justify-content-center align-items-center">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#home" class="nav-link active" data-toggle="tab">People</a>
                </li>
                <li class="nav-item tab-title">
                    <a href="#profile" class="nav-link" data-toggle="tab">Jobs</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div class="form-group">
                        <div class="text-effect">
                            <span>First Name</span>
                            <input type="text" class="form-control focus-text" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h4 class="mt-2">Profile tab content</h4>
                    <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                </div>
            </div>
        </div>
    </div>
</div>